<form [formGroup]="accountForm">
    <label for="customerId">Customer ID:</label>
    <input type="text" name="customerId" id="customerId" formControlName="customerId">
    <div *ngIf="accountForm.get('customerId').touched">
        <small *ngIf="accountForm.get('customerId').invalid">CustomerId is required.</small>
    </div>
    
    <label for="balance">Balance:</label>
    <input type="number" name="balance" id="balance" formControlName="balance">
    <div *ngIf="accountForm.get('balance').touched">
        <small *ngIf="accountForm.get('balance').invalid">Balance can not be less than 0.</small>
    </div>

    <button type="submit" [disabled]="accountForm.invalid">Submit</button>
</form>