<form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
    <!-- <div>
        <label for="transactionId">Transaction ID:</label>
        <input type="transactionId" formControlName="transactionId">
    </div> -->
    
    <div>
        <label for="accounts">Accounts:</label>
        <input type="text" name="accounts" id="accounts" formControlName="accounts">
        <div *ngIf="transactionForm.get('accounts')?.touched">
            <small *ngIf="transactionForm.get('accounts')?.invalid">Accounts is required.</small>
        </div>
    </div>
    
    <div>
        <label for="amount">Transaction Amount:</label>
        <input type="text" name="amount" id="amount" formControlName="amount">
        <!-- <div *ngIf="transactionForm.get('amount').touched">
            <small *ngIf="transactionForm.get('amount').invalid">Amount can not be less than 0.</small>
        </div> -->
    </div>

    <!-- <div>
        <label for="transactionDate">Transaction Date:</label>
        <input type="date" name="transactionDate" id="transactionDate" formControlName="transactionDate">
        <div *ngIf="transactionForm.get('transactionDate').touched">
            <small *ngIf="transactionForm.get('transactionDate').invalid">Transaction Dateis required.</small>
        </div>
    </div> -->

    <div>
        <label for="transactionType">Transaction Type:</label>
        <!-- <select name="transactionType" id="transactionType" formControlName="transactionType">
            <option value="deposit">Deposit</option>
            <option value="withdrawal">Withdrawal</option>
        </select> -->
        <input type="text" id="transactionType" formControlName="transactionType">
        <!-- <div *ngIf="transactionForm.get('transactionType').touched">
            <small *ngIf="transactionForm.get('transactionType').invalid">Transaction Type is required.</small>
        </div> -->
    </div>
    
    <button type="submit" [disabled]="transactionForm.invalid">Submit</button>
</form>